{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} {% endblock %} | Unicoo</title>
</head>
<body>

<!-- Start header -->
<header>
    <div class="container">
        <div class="icon-container">
            <a href="#"><img src="{% static 'img/user.svg' %}" alt=""></a>
            <a class="shopping-cart" href="#"><img src="{% static 'img/shopping-cart.svg' %}" alt=""><span
                    class="badge">3</span></a>
        </div>

        <form>
            <input type="text" placeholder="جتسجو">
        </form>

        <div class="logo">
            <a href="#">Unicoo</a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">صفحه اصلی</a></li>
        </ul>
    </nav>
</header>

{% block content %}

{% endblock %}

</body>
</html>